<a href="https://colab.research.google.com/github/Morgan-4/BTE320/blob/main/In_Class_Assignment_BTE320.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Surface area of a cylinder
h = 10 # height of cylinder
r = 3 # radius of circle
pi = 3.14

Surface_Area = (2 * pi * (r**2)) + (2 *pi * r *h)
# Display result
print(Surface_Area)

244.92000000000002

In [ ]:
# Rock, Paper & Scissors game between two players

choice = input('Do you want to play Rock, Paper or Scissors: ')

while choice == "yes":
  p1 = input('Player 1 - Choose rock, paper or scissors: ')
  p2 = input('Player 2 - Choose rock, paper or scissors: ')

  if p1 == p2:
    print('Draw')
  elif p1 == 'rock' and p2 == 'scissors':
     print('Player 1 Wins!')
  elif p1 == 'paper' and p2 == 'rock':
    print('Player 1 Wins!')
  elif p1 == 'scissors' and p2 == 'paper':
    print('Player 1 Wins!')
  elif p1 == 'scissors' and p2 == 'rock':
    print('Player 2 Wins!')
  elif p1 == 'rock' and p2 == 'paper':
    print('Player 2 Wins!')
  elif p1 == 'paper' and p2 == 'scissors':
    print('Player 2 Wins!')
  print('Good Game!!')
  print()
  choice = input('Do you want to play Rock, Paper and Scissors again: ')

Do you want to play Rock, Paper or Scissors: yes
Player 1 - Choose rock, paper or scissors: rock
Player 2 - Choose rock, paper or scissors: paper
Player 2 Wins!
Good Game!!

Do you want to play Rock, Paper and Scissors again: no

In [ ]:
# Calculator --> + - * / **

n1 = float(input("Enter number 1: "))
n2 = float(input("Enter number 2: "))
sym = input("Enter Operator (+, -, *, /, **): ")
print()
if sym == "+":
 print(n1 + n2)
elif sym == "-":
   print(n1 - n2)
elif sym == "*":
  print(n1 * n2)
elif sym == "/":
  print(n1 / n2)
elif sym == "**":
  print(n1 ** n2)

Enter number 1: 4
Enter number 2: 2
Enter Operator (+, -, *, /, **): **

16.0

In [ ]:
# Parking Garage - Initial Problem
# Charges 5 plus 2.50 for each hour parked. Min fee is 10 and max fee is 20
# from 1 to 8 hours


#parking = input('How many hours did you park: ')

flat_rate = 5
hourly_rate = 2.50

for i in range(1,9):
  total = flat_rate + hourly_rate * i
  if total < 10:
    total = 10.0
  elif total > 20:
    total = 20.0
  print(i, total)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
# Movie Theater - Initial Problem
# each ticket $10. Without advertising, 20 people are forecasted to attend. Additional people may attend based on advertising spending, estimated to be:
# Addtional attendess = 2* round((Square root)advertisingDollars). Advertising costs, there are fixed costs to run the threater of $200
# For range -- we know the number of iterations. The optimal soultion is 75 because you make 105 in profit



for ad in range(0,201,25):
  additional = 2 * round(ad ** 0.5)
  profit = (20 + additional) * 10 - 200 - ad
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
# Program asks user for integer inputs from the keyboard. Those updates should be appended to a list

x = []

item = int(input('Give a value: '))
while item != 0:
  x.append(item)
  print(x)
  item = int(input('Give another value: '))
print('You inputed 0')

Give a value: 2
[2]
Give another value: 3
[2, 3]
Give another value: 4
[2, 3, 4]
Give another value: 0
You inputed 0

In [ ]:
# The numbers will the keys and the names with be the values
# Output: {1:'Jan', 2:'Feb',....}

months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(1,13):
  months[i] = names[i-1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [17]:
# Parking Garage - Initial Problem
# Charges 5 plus 2.50 for each hour parked
#Prompts for the number of hourse parked
# Calcualted and displays the pakring fee charged
# use def calcFee(hours)
#Example run:
# Enter hours parked: 4
# Parking fee: $ 15.0

def calcFee(hours):
  parking_fee = 5 + 2.50*hours_parked
  return parking_fee

hours_parked = int(input('Enter hours parked: '))


print(f'Parking Fee: {calcFee(hours_parked)}')

Enter hours parked: 4
Parking Fee: 15.0

In [29]:
# Parking Garage - Enhancements
# define and call a function that displays the result
# refine the signature for calcFee()
#def calcFee(hours,decimals=2)
# Enter hours parked: 4
# Parking fee: $ 15.0

def calcFee(hours, decimals=2):
  fee = 5 + 2.5*hours
  fee = round(fee,decimals)
  return fee

def displayFee(fee):
  print(fee)

hours_parked = int(input('Enter hours parked: '))
f = calcFee(hours_parked)
displayFee(f)

Enter hours parked: 4
15.0

In [12]:
# Recusion Function
# Take an input a string and returns the string backwards


def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])

rev('Halloween')

'neewollaH'

In [6]:
#Function that calculates the weighted average of a list L, given weights w
#The function should handle the following exception error types:
# - ZeroDivisionError (returns empty list)
# - TypeError (returns empyty list)
# - any other unknown error (returns float('nan'))

def wAvg(L, w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i]*w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print("Division by zero.")
    return []
  except TypeError:
    print("Non-numerical objects found.")
    return []
  except Exception as e:
    print(f'Unkown error: {e}')
    return float('nan')

wAvg([1,2,3], [.1,.3,.4])

2.375

In [10]:
#Difine a class named student. student has two attributes
# name(str), number(str)
# Create two student objects out of this class
#Objects wil be: name: James Bond, number:007, name: Clark Kent, number:333
#Print their names

class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __str__(self):
    return f'Name: {self.name}.'

In [11]:
s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

In [12]:
s1.name

'James Bond'

In [7]:
# The student class you defined above has a new attribute
#this attribute is courses and it will keep the list of courses that the student takes
# Its types is list and it will initialize as an empty list. There will be a method named 'enroll' to enroll the course.
#The student will enroll the course, it it had not enrolled already. Moreover, there will be a method named 'get_courses' which will return the course list'
# Redefine the Student class based on these info
# Student data:
# name: John Does, number: 1111
# courses: BTE320, BTE401

class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in course: {course}')

  def get_courses(self):
    return self.courses

In [8]:
s = Student("Bob", "123")

In [9]:
s.enroll('ABC123')
s.enroll('ABC456')
s.enroll('ABC789')

In [10]:
s.get_courses()

['ABC123', 'ABC456', 'ABC789']

In [11]:
s.enroll('ABC123')

You have already enrolled in course: ABC123